<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div layout:fragment="content">


  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Структура по выбору</h5>

        <div class="row">
          <div class="col-lg-6">

            <div class="card">
              <div class="card-body">

                <!-- Default Table -->
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col"><span class="badge bg-success rounded-pill">'+ +'</span></th>
                    <th scope="col"><span class="badge bg-info rounded-pill">' + '</span></th>
                    <th scope="col"><span class="badge bg-secondary rounded-pill">' 0 '</span></th>
                    <th scope="col"><span class="badge bg-warning rounded-pill">' - '</span></th>
                    <th scope="col"><span class="badge bg-danger rounded-pill">'- -'</span></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Апельсин</td>
                    <td>Лимон</td>
                    <td>Ромашка</td>
                    <td>Бергамот</td>
                    <td>Вишня</td>
                  </tr>
                  <tr>
                    <td>Береза</td>
                    <td>Лайм</td>
                    <td>кедр</td>
                    <td>Ель</td>
                    <td>Туя</td>
                  </tr>

                  </tbody>
                </table>
                <!-- End Default Table Example -->
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
  </section>
</div>

</body>
</html>