<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div layout:fragment="content">


  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Цитрусовые</h5>

        <div class="row">
          <div class="col-lg-6">

            <div class="card">
              <div class="card-body">

                <!-- Default Table -->
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название масла</th>
                    <th scope="col">5 января 2023</th>
                    <th scope="col">5 февраля 2023</th>
                    <th scope="col">5 марта 2023</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Апельсин</td>
                    <td><span class="badge bg-success rounded-pill">++</span></td>
                    <td><span class="badge bg-success rounded-pill">++</span></td>
                    <td><span class="badge bg-success rounded-pill">++</span></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Лимон</td>
                    <td><span class="badge bg-info rounded-pill">+</span></td>
                    <td><span class="badge bg-info rounded-pill">+</span></td>
                    <td><span class="badge bg-success rounded-pill">++</span></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Мандарин</td>
                    <td><span class="badge bg-danger rounded-pill">--</span></td>
                    <td><span class="badge bg-danger rounded-pill">--</span></td>
                    <td><span class="badge bg-success rounded-pill">++</span></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Арбуз</td>
                    <td><span class="badge bg-success rounded-pill">++</span></td>
                    <td><span class="badge bg-success rounded-pill">++</span></td>
                    <td><span class="badge bg-success rounded-pill">++</span></td>
                  </tr>
                  </tbody>
                </table>
                <!-- End Default Table Example -->
              </div>
            </div>
          </div>
        </div>

        <!-- List group With badges -->
<!--        <ul class="list-group">-->
<!--          <li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--            Апельсин-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--          </li>-->
<!--          <li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--            Лимон-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--            <span class="badge bg-primary rounded-pill">++</span>-->
<!--          </li>-->
<!--          <li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--            Малина-->
<!--            <span class="badge bg-primary rounded-pill">&#45;&#45;</span>-->
<!--            <span class="badge bg-primary rounded-pill">&#45;&#45;</span>-->
<!--            <span class="badge bg-primary rounded-pill">&#45;&#45;</span>-->
<!--            <span class="badge bg-primary rounded-pill">&#45;&#45;</span>-->
<!--            <span class="badge bg-primary rounded-pill">&#45;&#45;</span>-->
<!--            <span class="badge bg-primary rounded-pill">&#45;&#45;</span>-->
<!--          </li>-->
<!--        </ul>&lt;!&ndash; End List With badges &ndash;&gt;-->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Пряные</h5>

                <div class="row">
                  <div class="col-lg-6">

                    <div class="card">
                      <div class="card-body">

                        <!-- Default Table -->
                        <table class="table">
                          <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название масла</th>
                            <th scope="col">5 января 2023</th>
                            <th scope="col">5 февраля 2023</th>
                            <th scope="col">5 марта 2023</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Апельсин</td>
                            <td><span class="badge bg-success rounded-pill">++</span></td>
                            <td><span class="badge bg-success rounded-pill">++</span></td>
                            <td><span class="badge bg-success rounded-pill">++</span></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Лимон</td>
                            <td><span class="badge bg-info rounded-pill">+</span></td>
                            <td><span class="badge bg-info rounded-pill">+</span></td>
                            <td><span class="badge bg-success rounded-pill">++</span></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Мандарин</td>
                            <td><span class="badge bg-danger rounded-pill">--</span></td>
                            <td><span class="badge bg-danger rounded-pill">--</span></td>
                            <td><span class="badge bg-success rounded-pill">++</span></td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Арбуз</td>
                            <td><span class="badge bg-success rounded-pill">++</span></td>
                            <td><span class="badge bg-success rounded-pill">++</span></td>
                            <td><span class="badge bg-success rounded-pill">++</span></td>
                          </tr>
                          </tbody>
                        </table>
                        <!-- End Default Table Example -->

      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
  </section>
</div>

</body>
</html>