<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<section layout:fragment="content">
    <section class="section">

        <div class="card">
            <div class="card-body" th:each="entry, stat : ${maslolist}">
                <h5 class="card-title" th:text="${entry.key.name}">Пряные</h5>

                <div class="row">
                    <div class="col-lg-6">

                        <div class="card">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="mas : ${entry.value}">
                                        <td th:text="${mas.name}">Апельсин</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>